
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(184, 184, 184, 0.318);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;

}
/* Go top */

.go-top{
   position: fixed;
   bottom: 100px;
   right: -100;
   width: 50px;
   height: 50px;
   border: 2px solid black;
   background: #ff8c42;
   z-index: 9999;

   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 400ms;

}
.go-top:hover{
    background: black;
    border: 2px solid black;
}

.go-top:hover span{
    
    color: #ff8c42;
}

.go-top > span{
    font-size: 30px;
    color: black;
}


/* Menu de navegacion */
#header{
    position: relative;
    width: 100%;

}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-top: 20px;
    margin-left: 20px;
    
    
    
}


.menu .logo-box h1 a{
    
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-weight: 400;
    color: #ff8c42;
   margin-bottom: 10px;
    
    font-family: 'Righteous', cursive;

   
}

.btn-menu > .fa-wolf-pack-battalion{

    display: none;
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
    
}

.menu .list-container .lists a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: #ff8c42;
    
    font-size: 19px;
    transition: 0.5s;
    border-radius: 10px;
}



.menu .list-container .lists a.activo{
    background:#ff8c42;
    color: rgb(0, 0, 0);
}

.menu .list-container .lists a:hover{
    background: #ff8c42;
    color: rgb(12, 0, 0);
}

.btn-menu > .fa-bars{
    display: none;
}

/* IMG header */
.img-header{
    position: relative;
    width:100% ;
    height: 100vh;
    background: url("../images/MeerBeer3.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.img-header .Welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img-header .Welcome h1{
    font-size: 120px;
    color: #ff8c42;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    

}

.img-header .Welcome hr{
    font-size: 100px;
    width:400px;
    height: 8px;
    background: #ff8c42;
    border:none;
    margin-top: 5px;
    
    
}

.img-header .Welcome p{
    font-size: 35px;
    color: #ff8c42;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px
    

}

.img-header .Welcome > button{
    width:170px ;
    height: 40px;
    background: #ff8c42 ;
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color:rgb(8, 0, 0);
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    



}

.img-header .Welcome > button:hover{
    background: rgb(0, 0, 0);
    color: #ff8c42;
}

/* Acerca de nosotros */

.acerca-de{
   width: 100%;
   margin-top:120px ;

}

.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h1{
   font-size: 50px;
   font-weight: 400;
   color: #ff8c42; 
   text-align: center;
   margin-bottom: 20px;
}

.acerca-de .info-container p{
    text-align: center;
    font-size: 27px;
    color: #ff8c42;
    line-height: 35px;
    margin:10px 0px;
}

.acerca-de .info-container .about-gallery{
    width:100% ;
    display: flex;
    justify-content: center;
    margin: 50px 0;

}

.acerca-de .info-container .about-gallery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    
    cursor: pointer;

}
.acerca-de .info-container .about-more {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.acerca-de .info-container .about-more button{
    width:120px ;
    height: 40px;
    background: #ff8c42 ;
  
    border: none;
    outline: none;
    font-size: 22px;
    color:rgb(8, 0, 0);
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}

.acerca-de .info-container .about-more button:hover{
    background: black;
    color:#ff8c42;
}

/* Nuestros proyectos */

.divContanerProceso{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divContanerProceso p{
    color: #ff8c42;
    font-size: 20px;
    font-weight: bolder;
}

.our-project{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/logo.jpeg");
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    margin-top: 100px;
}

.our-project .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.our-project .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;

}

.our-project .container-project{
    width: 90%;
    margin: auto;
    padding-top: 100px;

}

.our-project .container-project .project-tittle{
    border: 3px solid #ff8c42;
    padding: 13px;
    text-align: center;
    width: 80%;
    margin: auto;
    text-align: none;
    border-radius: 15px;
    

}

.our-project .container-project .project-tittle h2{
    font-size: 40px;
    color: #ff8c42;
    font-weight:normal ;
}

.our-project .container-project .project-tittle hr{
    background: #ff8c42;
    width: 50%;
    margin: 10px auto;
}

.our-project .container-project .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-bottom: 80px;
}

.our-project .container-project .project-img img{
    width: calc(20% - 10px);
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
}

/* Footer */

.footer{
    position: relative;
    width: 100% ;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}

.footer .deg-footer{
    position: relative;
   width: 100%;
   height: 100%;
   z-index: 100;
    
}

.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 65px;
    
}

.footer .footer-content{
    width: 90%;
    padding-top: 100px;
    margin: auto;

}

.footer .footer-content .footer-tittle{
    width: 80%;
    margin: auto;
    border: 2px solid #ff8c42;
    background: #ff8c42;
    
}

.footer .footer-content .footer-tittle h2{
    width: 50%;
    margin: 10px auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: normal;
    
    
    
}

.footer .footer-content .footer-tittle hr{
    width: 80%;
    margin: auto;

}


.footer .footer-content .formulario-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 2px solid #ff8c42;
    margin: 50px auto;
   
}

.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color: black;
    font-size: 25px;
    margin: 23px 0 10px 0;
}

.footer .footer-content .formulario-content #formulario input{
    width:90%;
    height:35px ;
    margin: auto;
    border: 2px solid #ff8c42;
    outline: none;
    
    color: black;
}

.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    height: 100px;
    margin: auto;
    
    outline: none;
    color: black;
    border: 2px solid #ff8c42;
}

.footer .footer-content .formulario-content #formulario .send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.footer .footer-content .formulario-content #formulario button{
    width:65px ;
    height: 30px;
    background: #ff8c42 ;
    
    border: none;
    outline: none;
    font-size: 18px;
    color:rgb(8, 0, 0);
    
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.footer .footer-content .formulario-content #formulario button:hover{
    background:black;
    color: #ff8c42;

}

.footer .footer-content .formulario-content #formulario .mensaje-form{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 15px;
    color: #ff8c42;
    font-size: 20px;
}

.footer-text{
    position: absolute;
   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ff8c42;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

/* Media Query */

@media only screen and (max-width:900px){
    .btn-menu > .fa-wolf-pack-battalion{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 40px;
        color: #ff8c42;
        cursor: pointer;

    }

    .btn-menu > .fa-wolf-pack-battalion:hover{
        color:#ff8c42;
    }

    .btn-menu > .fa-times{
        color: #ff8c42;
    }


  
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background:black
    }

    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: black;
        
        border-top: 5px solid black;

    }

    .menu .list-container .lists li{
        width: 90%;
        height: 40px;
        margin: 10px 0;
        border-bottom: 1px solid #ff8c42;
        text-align: center;
        
    }

    .menu .list-container .lists li a{
      font-size: 20px;
      color:#ff8c42

    }

    .menu .list-container .lists li a .activo{
        background: none;
        color: #ff8c42;
    }

    .menu .list-container .lists li a :hover{
        background: none;
        color: black;
    }
    
    .divContanerProceso{
        margin-top: 10px;
    }

    .divContanerProceso p{
        font-size: 15px;
        
    }

    .img-proceso{
        height: 150px;
        
    }



}