@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box; /* to avoid width problems if padding */
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
  /* to hide scrollbars */
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;

}

.panel {
  
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  
  
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
  a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

  a.button1{
    display:block;
    margin:0.4em auto;
    }
}
